<header class="auth">
  <div class="main-header-col">
    <h1>Ometman Budget App</h1>
    <p>Welcome!! Login or Register to use</p>
  </div>
</header>
<main class="auth">
<h2 class="login-heading"> Log in </h2>
  <div class="login-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-container-form' }) do |f| %>
      <div class="field login-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'login-input' %>
      </div>

      <div class="field login-field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'login-input' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field login-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions login-actions">
        <%= f.submit "Log in", class: 'login-button' %>
      </div>
    <% end %>
  </div>
  <div class='actions-links'>
    <%= render "devise/shared/links" %>
  </div>
<main>
