<header class="auth">
  <div class="menu-title-search">
    <i class="fas fa-arrow-left"></i>
    <div class="header-title">
      <h1>LOGIN</h1>
    </div>
    <div class="login-actions">
      <%= link_to "Next", class: 'login-btn-text' %>
    </div>
  </div>
</header>
<main class="auth">
  <div class="login-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-container-form' }) do |f| %>
    <div class="field">
      <%= f.label :email, "Email", class: "login-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email here", class: 'login-input email' %>
    </div>
    <div class="field">
      <%= f.label :password, "Password", class: "login-label" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password here", class: 'login-input password' %>
    </div>
  <% end %>  
  </div>
<main>
