<%= form_with(model: [@category, @deal], local: true) do |form| %>
    <% if @deal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this transaction from being saved:</h2>
  
        <ul>
          <% @deal.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  
    <div>
      <%= form.label :amount %>
      <%= form.number_field :amount %>
    </div>
  
    <div>
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, current_user.categories, :id, :name, prompt: true %>
    </div>
  
    <div>
      <%= form.submit "Save" %>
    </div>
  <% end %>
  
  <%= link_to "Back to Transactions", category_deals_path(@category) %>
  