<header>
<h1>Ometman Budget App</h1>
<p>Welcome!! Login or Register to use</p>
<% if user_signed_in? %>
<p>Hello, <%= current_user.name %>!</p>
<%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-button' %>
<% end %>
</header>
<main class="categories">
  <div class="credit-info">
    <p class="gift-text">Gift credit</p>
    <p class="gift-amt">5% of total amount</p>
  </div>
  <div class="categories-container">
    <div class="category-scroll">
      <% if @categories.present? %>
        <% @categories.each do |category| %>
          <%= link_to category_path(category) do %>
            <div class="category-container">
              <%= image_tag category.icon.variant(resize: "100x100") if category.icon.attached? %>
              <div class="cat-name-date">
                <h2 class="cat-name"><%= category.name %></h2>
                <p class="cat-date"><%= category.created_at %></p>
              </div>
              <span class="cat-total-amt"><%= category.deals.sum(:amount) %></span>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>No recent categories available</p>
      <% end %>
    </div>
  </div>
  <div class="category-actions">
    <%= link_to "Add a new category", new_category_path, class: 'new-category-btn' %>
  </div>
</main>

