<header class="categories">
<div class="main-header-row">
  <h1><%= @category.name %>Deals</h1>
  <div class="login-logout-btn"
    <% if user_signed_in? %>
    <p>Hello, <%= current_user.name %>!</p>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout-button' %>
    <% end %>
  </div>
</div>
<div class="recent-old-cat-links">
  <%= link_to 'Most recent', user_category_path(current_user, @category, recent: true) %> |
  <%= link_to 'Most oldest', user_category_path(current_user, @category, oldest: true) %>
</div>
</header>
<main class="categories transaction">
  <div class="cat-total-info">
    <p class="total-text">Total Amount:</p>
    <p class="total-amt"> <%= @category.deals.sum(:amount) %></p>
  </div>
  <ul class="cat-transact-container">
    <h2 class="cat-transact-heading">List of Deals</h2>
    <div class="transaction-scroll">
      <% if @deals.present? %>
        <% @deals.each do |deal| %>
          <li class='cat-transact-list'>
            <p><%= deal.name %>:</p>
            <p> <%= deal.amount %></p>
          </li>
        <% end %>
      <% else %>
        <p class="no-resource-msg">No transactions available</p>
      <% end %>
    </div>
  </ul>
  <div class="category-actions">
  <%= link_to "Add a New Transaction", new_user_category_deal_path(current_user, @category), class: 'new-category-btn' %>
  </div>
  <%= link_to "Back to Categories", user_categories_path(current_user), class: "back-link" %>
  <div class="scan-btn-container">
    <%= button_to 'SCAN', '#', class: 'scan-button', onclick: 'location.reload(); return false;' %>
  </div>
</main>
