<header class="categories">
<div class="menu-title-search">
  <%= link_to user_categories_path(current_user) do %>
    <span class="material-symbols-outlined">
      arrow_back
    </span>
  <% end %>
  <div class="header-title">
    <h1>Transactions</h1>
  </div>
  <span class="material-symbols-outlined">
    search
  </span>
</div>
<div class="header-cat-links">
  <%= link_to 'Most recent', user_categories_path(current_user, recent: true) %> | 
  <%= link_to 'Most oldest', user_categories_path(current_user, oldest: true) %>
</div>
</header>
<main class="categories transaction">
  <div class="cat-total-info">
    <p class="total-text">Total Amount:</p>
    <p class="total-amt"> <%= @category.deals.sum(:amount) %></p>
  </div>
  <ul class="cat-transact-container">
    <h2 class="cat-transact-heading">List of Deals</h2>
    <div class="transaction-scroll">
      <% if @deals.present? %>
        <% @deals.each do |deal| %>
          <li class='cat-transact-list'>
            <p><%= deal.name %>:</p>
            <p> <%= deal.amount %></p>
          </li>
        <% end %>
      <% else %>
        <p class="no-resource-msg">No transactions available</p>
      <% end %>
    </div>
  </ul>
  <%= link_to "Back to Categories", user_categories_path(current_user), class: "back-link" %>
  <div class="category-actions">
   <%= link_to "Add a New Transaction", new_user_category_deal_path(current_user, @category), class: 'new-category-btn' %>
  </div>
</main>
