<%= render 'header' %>
<main class="categories transaction">
  <div class="cat-total-info">
    <p class="total-text">Total Amount:</p>
    <p class="total-amt"> <%= @category.deals.sum(:amount) %></p>
  </div>
  <ul class="cat-transact-container">
    <h2 class="cat-transact-heading">List of Deals</h2>
    <div class="transaction-scroll">
      <% if @deals.present? %>
        <% @deals.each do |deal| %>
          <li class='cat-transact-list'>
            <p><%= deal.name %>:</p>
            <p> <%= deal.amount %></p>
          </li>
        <% end %>
      <% else %>
        <p class="no-resource-msg">No transactions available</p>
      <% end %>
    </div>
  </ul>
  <%= link_to "Back to Categories", user_categories_path(current_user), class: "back-link" %>
  <div class="category-actions">
   <%= button_to "Add a New Transaction", new_user_category_deal_path(current_user, @category), class: 'new-category-btn' %>
  </div>
</main>
